<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="loguconnection" connectionString="Data Source=DESKTOP-TKJK5AL\SQLEXPRESS01;Initial Catalog=manihardware;Integrated Security=True;TrustServerCertificate=true" providerName="Microsoft.sqlClient"/>
	</connectionStrings>
</configuration>